[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"
black = "==18.6b4"
codecov = "*"

[packages]
django = "*"
python3-gearman = "*"
cattrs = "*"
djangorestframework = "*"
rx = {git = "https://github.com/ReactiveX/RxPY.git", branch="master", editable="true"}
requests = "*"
cachetools = "*"

[requires]
python_version = "3.6"
